chart {
    display: block;
}


.division_line_multiple_value{
    border-bottom: 1px solid #e0e0e0;
    border-top: 0;
    margin: 0 0 15px;
    padding: 0 0 16px;
}

.division_line_single_value {
    border-bottom: 1px solid #e0e0e0;
    border-top: 0;
    margin: 0 0 5px;
    padding: 0 0 3px;
}


.drawer_details {
    /*background-color: #e91e63;*/
    position: fixed;
    bottom: 0;
    margin-bottom: 24px;
    margin-right: 24px;
    position: fixed;
    z-index: 9000;
    right: 0;
}
.drawer_video {
    bottom: 0;
    position: fixed;
    margin-bottom: 95px;
    margin-right: 24px;
    z-index: 9000;
    position: fixed;
    right: 0;
}
.drawer_menu {
    bottom: 0;
    position: fixed;
    margin-bottom: 8px;
    margin-right: 24px;
    z-index: 9000;
    position: fixed;
    right: 0;
}
.name_position_fixed{
     bottom: 0;
    position: fixed;
    margin-top: 80px;
    margin-right: 24px;
    z-index: 9000;
    position: fixed;
    right: 0;
}
.name_position{
    position: static;
    z-index: 8000;
    text-align: center;
    background-color: rgba(2, 2, 3, 0.1);
    margin-top: -7px;
    z-index: 9000;
}
