

.activities .event {
    margin-top: 1rem;
    width: 100%;
}
.event {
  margin: 10px -10px 10px 10px;
    background: #fff;
    border: 2px solid #efcece;
    border-radius: 0.25rem;
    padding: 10px 10px 10px 10px;
    position: relative;
}

.event-heading {
    margin: 0 0 2px;
    font-weight: 600;
}

h5, .h5 {
    font-size: 1.25rem;
}
p {
    margin-top: -7px;
    margin-bottom: 0rem;
    font-size: 0.85rem;
}
.fs-mini {
    font-size: 13px;
}
.container{

  
}

a {
  font-size: 15px;

}
.rigth {
  right: 0px;
}

.division_line_multiple_value{
    border-bottom: 1px solid #e0e0e0;
    border-top: 0;
    margin: 0 0 15px;
    padding: 0 0 16px;
}

.division_line_single_value {
    border-bottom: 1px solid #e0e0e0;
    border-top: 0;
    margin: 0 0 5px;
    padding: 0 0 3px;
}

#hip_img {
  background: url("../../../assets/images/pic01.svg") no-repeat;;
  background-size:contain;
}

.chart_decoration {
  font-size: 0.85rem;
  border-bottom: 2px solid #efcece;
    border-top: 0;
    margin: 10px 0 25px;
    padding: -10px 0 25px;
}
.video_section {
  margin-top: 10px;
}


chart {
    display: block;
}
button {
  display: block;
  width: 100%;
  height: 25px;
}

