.env
Dockerfile

node_modules
client/node_modules

#app
client/app/*.js
client/app/*.js.map

#homepage
client/app/homepage/*.js
client/app/homepage/*.js.map

#login
client/app/login/*.js
client/app/login/*.js.map

#register
client/app/register/*.js
client/app/register/*.js.map

#pacient
client/app/pacient/*.js
client/app/pacient/*.js.map

#result-dashboard
client/app/result-dashboard/*.js
client/app/result-dashboard/*.js.map



#System Files
.DS_Store
Thumbs.db
npm-debug.log
