<div class="modal-header">
    <h2 class="modal-title">View Therapist</h2>
    <button type="button" class="close" aria-h6="Close" 
            (click)="activeModal.close('Close click')">
      <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
    <form [formGroup]="form" class="card-group">
       
        <div class="row">
            <div class="col-lg">
                <div class="row">
                    <div class="col">
                    <!-- name , last name -->
                        <div class="field-group">
                            <div class="col-md-3">
                                <mdl-icon class="mdl_icon_person">account_circle</mdl-icon>
                                <!-- <div class="add_patient_photo">
                                  <button mdl-button 
                                          mdl-button-type="icon" 
                                          mdl-colored="primary"
                                          (click)="showAddPatientComponent()">
                                    <mdl-icon>add_a_photo</mdl-icon>
                                  </button>
                                </div> -->
                            </div>
                            <div class="col-9">
                                <div class="row">
                                    <mdl-textfield label="Nombres" 
                                                   name="names" 
                                                   type="text" 
                                                   formControlName="names" 
                                                   readonly='true'
                                                   ></mdl-textfield>
                                </div>

                                <div class="row">
                                    <mdl-textfield label="Apellidos" 
                                                   name="lastname" 
                                                   type="text" 
                                                   formControlName="lastname" 
                                                   readonly='true'
                                                   ></mdl-textfield>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                <!-- DNI & birth -->
                    <!-- ======================================================= -->
                    <div class="col">
                        
                        <div class="field-group">
                           
                            <form class="form-inline">
                              <div class="form-group">
                                <div class="input-group">
                                  <mdl-icon class="mdl_icon calendar_icon_style">date_range</mdl-icon>
                                  <input class="form-control" placeholder="yyyy-mm-dd"
                                         name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                                </div>
                              </div>
                            </form>
                            <mdl-textfield type="text"
                                           label="yyyy-mm-dd" 
                                           class="out"
                                           name="birth" 
                                           pattern="-?[0-9]*(\.[0-9]+)?" 
                                           error-msg="Caracteres no numéricos!" 
                                           formControlName="birth"
                                           ></mdl-textfield>
                          
                        </div>
                    </div>
                    <!-- ======================================================= -->
                    <div class="col">
                        <div class="field-group">
                            <mdl-icon class="mdl_icon">credit_card</mdl-icon>
                            <mdl-textfield type="text" 
                                           label="N° de DNI" 
                                           name="id_Document_num" 
                                           pattern="-?[0-9]*(\.[0-9]+)?" 
                                           error-msg="Caracteres no numéricos!" 
                                           formControlName="id_Document_num" 
                                           readonly='true'
                                           ></mdl-textfield>
                        </div>
                    </div>
                    
                </div>

                <div class="row">
                <!-- CTMP, NDTA -->
                    <div class="col">
                        <div class="field-group">
                            <mdl-icon class="mdl_icon">card_membership</mdl-icon>
                            <mdl-textfield type="text" 
                                     label="N° de CTMP" 
                                     name="num_ctmp" 
                                     pattern="-?[0-9]*(\.[0-9]+)?" 
                                     error-msg="Caracteres no numéricos!" 
                                     formControlName="num_ctmp" 
                                     readonly='true'
                                     ></mdl-textfield>
                        </div>
                    </div>
                    <div class="col">
                        <div class="field-group">
                            <mdl-icon class="mdl_icon">card_membership</mdl-icon>
                            <mdl-textfield type="text" 
                                     label="N° de NDTA" 
                                     name="num_ndta" 
                                     pattern="-?[0-9]*(\.[0-9]+)?" 
                                     error-msg="Caracteres no numéricos!" 
                                     formControlName="num_ndta" 
                                     readonly='true'
                                     ></mdl-textfield>
                        </div>
                    </div>
                </div>
               
                <div class="row">
                <!-- email -->
                    <div class="col">
                        <div class="field-group">
                            <mdl-icon class="mdl_icon">email</mdl-icon>
                            <mdl-textfield label="Email" 
                                           name="email" 
                                           type="text" 
                                           formControlName="email" 
                                           readonly='true'
                                           pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$" 
                                           error-msg="Please provide a correct email!"
                                           >gfdgfdsgfd</mdl-textfield>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                <!-- cell Phone, phone -->
                    <div class="col">
                        <div class="field-group">

                            <mdl-icon class="mdl_icon">settings_cell</mdl-icon>
                            <mdl-textfield type="text" 
                                           label="N° de celular" 
                                           name="cellphone" 
                                           pattern="-?[0-9]*(\.[0-9]+)?" 
                                           error-msg="Caracteres no numéricos!" 
                                           formControlName="cellphone" 
                                           readonly='true'
                                           ></mdl-textfield>
                        </div>
                    </div>

                    <div class="col">
                        <div class="field-group">
                            <mdl-icon class="mdl_icon">settings_phone</mdl-icon>
                            <mdl-textfield type="text"
                                           label="Teléfono" 
                                           name="phone" 
                                           pattern="-?[0-9]*(\.[0-9]+)?" 
                                           error-msg="Caracteres no numéricos!" 
                                           formControlName="phone" 
                                           readonly='true'
                                           ></mdl-textfield>
                        </div>

                    </div>
                </div>

            </div> 

            <div class="col-lg">
                <div formGroupName="address">
                <!--  Address-->
                    <h5>Address</h5>
                    <div class="row">
                        <div class="col">
                            <div class="field-group">
                                <mdl-icon class="mdl_icon">location_city</mdl-icon>
                                <mdl-textfield type="text" 
                                               label="Direccion" 
                                               name="street" 
                                               formControlName="street" 
                                               readonly='true'
                                               ></mdl-textfield>
                            </div>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col">
                            <div class="field-group">
                                <mdl-icon class="mdl_icon">card_membership</mdl-icon>
                                <mdl-textfield type="text" 
                                               label="City" 
                                               name="city" 
                                               formControlName="city" 
                                               readonly='true'
                                               ></mdl-textfield>
                            </div>
                        </div>
                        <div class="col">
                            <div class="field-group">
                                <mdl-icon class="mdl_icon">card_membership</mdl-icon>
                                <mdl-textfield type="text" 
                                               label="State" 
                                               name="state" 
                                               formControlName="state" 
                                               readonly='true'
                                               ></mdl-textfield>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="field-group">
                                <mdl-icon class="mdl_icon">credit_card</mdl-icon>
                                <mdl-textfield type="text" 
                                               label="Zip" 
                                               name="zip" 
                                               pattern="-?[0-9]*(\.[0-9]+)?" 
                                               error-msg="Caracteres no numéricos!" 
                                               formControlName="zip" 
                                               readonly='true'
                                               ></mdl-textfield>
                            </div>
                        </div>
                        <div class="col">
                            <div class="field-group">
                                <mdl-icon class="mdl_icon">public</mdl-icon>
                                <mdl-textfield type="text" 
                                               label="Country" 
                                               name="country" 
                                               formControlName="country" 
                                               readonly='true'
                                               ></mdl-textfield>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </form>
</div>

<div class="modal-footer">
    <div class="modal-footer__actions">
        <button class="btn_space"
                mdl-button 
                (click)="activeModal.close('Close click')">Close</button>
    </div>
</div>


