  <!-- <form role="form" (submit)="login($event, username.value, password.value, )">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" #username class="form-control" id="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" #password class="form-control" id="password" placeholder="Password">
  </div>
  <div>
    <label class="radio-inline">
      <input id="user" type="radio" name="optradio">User
    </label>
    <label class="radio-inline">
      <input id="therapist" type="radio" name="optradio">Terapeuta
    </label>
    <label class="radio-inline">
      <input id="pacient" type="radio" name="optradio">Apoderado
    </label>
    <label class="radio-inline">
      <input id="medical_center" type="radio" name="optradio">Centro medico
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
    <a [routerLink]="['/register']">Registrese</a>
</form> -->




<!-- <div class="container">
  <h1>Add user</h1>
  <form #f="ngForm" novalidate>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="user.name">
    </div>
    <div class="form-group">
      <label>Age</label>
      <input type="number" class="form-control" name="age" [(ngModel)]="user.age">
    </div>
    <div class="form-group">
      <label>login_type</label>
      <div class="radio" *ngFor="let login_type of login_types">
        <label>
          <input type="radio" name="login_type" [(ngModel)]="user.login_type" [value]="login_type.value">
          {{login_type.display}}
        </label>
      </div>
    </div>
    <div class="form-group">
      <label>Role</label>
      <select name="role" class="form-control" [(ngModel)]="user.role">
        <option *ngFor="let role of roles" [value]="role.value">{{role.display}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Theme</label>
      <select name="theme" class="form-control" [(ngModel)]="user.theme">
        <option *ngFor="let theme of themes" [ngValue]="theme">{{theme.display}}</option>
      </select>
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="isActive" [(ngModel)]="user.isActive">
          Is Active
        </label>
      </div>
    </div>
    <div class="form-group">
      <label>Topics</label>
      <select multiple name="topics" class="form-control" [(ngModel)]="user.topics">
        <option *ngFor="let topic of topics" [value]="topic.value">{{topic.display}}</option>
      </select>
    </div>
    <div class="form-group">
      <input type="hidden" name="toggle" [(ngModel)]="user.toggle">
      <div class="checkbox">
        <label>
          <input type="checkbox" [checked]="user.toggle === toggles[0].value" 
              (change)="$event.target.checked? (user.toggle = toggles[0].value) : (user.toggle = toggles[1].value)">
          {{ toggles[0].display }}
        </label>
      </div>
    </div>
    <button type="submit" (click)="save(f.value, f.valid)" class="btn btn-default">Submit</button>
  </form>
  <div style="margin-top: 20px" *ngIf="f">
    <div>Form details:-</div>
    <pre>Is form valid?: <br>{{f.valid | json}}</pre>
    <pre>Is form submitted?: <br>{{f.submitted | json}}</pre>
    <pre>submitted value: <br>{{f.value | json}}</pre>
  </div>
</div> -->



<div align="center">
  <mdl-card mdl-shadow="2">

    <mdl-card-title>
      <h1 mdl-card-title-text>Login</h1>
    </mdl-card-title>

   <!--  <mdl-card-supporting-text text-align="center">
      By pressing Create Account you agree to our
      Terms of Service, Privacy Policy and
      Notice of Privacy Practices
    </mdl-card-supporting-text> -->

    <mdl-card-actions mdl-card-border>

      <form [formGroup]="form" align="center">
        <p>
          <mdl-textfield label="Usuario" name="username"
            type="text" formControlName="username"
            floating-label></mdl-textfield>
        </p>

        <p>
          <mdl-textfield label="Contraseña" name="password"
            type="password" formControlName="password"
            floating-label></mdl-textfield>
        </p>



        <p >

          <mdl-radio *ngFor="let login_type of login_types"  name="login_type" value={{login_type.value}}
            formControlName="login_type"
            mdl-ripple>{{login_type.display}}</mdl-radio>

        </p>

         <div class="status-bar">
          <p class="mdl-color-text--primary">{{statusMessage}}</p>
          <mdl-spinner [active]="processingLogin"></mdl-spinner>

        </div>

        <p>
          <button mdl-button (click)="login()" [disabled]="!form.valid"
            mdl-button-type="raised" mdl-ripple
            mdl-colored="primary">Ingresar</button>
        </p>
      </form>


    </mdl-card-actions>


    <mdl-card-menu>
      <button mdl-button mdl-button-type="icon"
        mdl-ripple>
          <mdl-icon>share</mdl-icon>
        </button>
    </mdl-card-menu>

  </mdl-card>
</div>



<!--  -->
<!-- <div class="col-md-6 col-md-offset-3">
 -->    <!-- <div class="alert alert-info">
        Username: test<br />
        Password: test
    </div> -->
    <!-- <h1>Login</h1>
    <form name="form" (ngSubmit)="f.form.valid && login(f.value, f.valid)" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="user.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
          <label>Login Type</label>
          <div class="radio" *ngFor="let login_type of login_types">
            <label>
              <input type="radio" name="login_type" [(ngModel)]="user.login_type" [value]="login_type.value">
              {{login_type.display}}
            </label>
          </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Login</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form> -->
    <!-- <div style="margin-top: 20px" *ngIf="f">
      <div>Form details:-</div>
      <pre>Is form valid?: <br>{{f.valid | json}}</pre>
      <pre>Is form submitted?: <br>{{f.submitted | json}}</pre>
      <pre>submitted value: <br>{{f.value | json}}</pre>
  </div> -->
<!-- </div> -->
