<p>
  medical-center works!
</p>
 <form [formGroup]="form" align="center">
		  <p>
		    <mdl-textfield label="Nombre de Centro Médico" 
		    			   name="name" 
		    			   type="text"
		    			   formControlName="name" 
		    			   floating-label>
		    </mdl-textfield>
		  </p>

		  <p>
		    <mdl-textfield label="Número de R.U.C." 
		    			   name="tax_identification" 
		    			   type="text" 
		    			   formControlName="tax_identification" 
		    			   floating-label>
 			</mdl-textfield>
		  </p>

		  <p>
		    <mdl-textfield
		            label="Correo"
		            name="email"
		            type="text"
		            formControlName="email"
		            floating-label
		            pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$"
		            error-msg="Please provide a correct email!">
		    </mdl-textfield>
		  </p>

		  <p>
		    <mdl-textfield
		            [class.is-invalid]="email2.invalid"
		            label="Confirmar correo"
		            name="email2"
		            type="text"
		            formControlName="email2"
		            disableNativeValidityChecking
		            [error-msg]="'Please provide a correct email!'"
		            floating-label>
		    </mdl-textfield>
		  </p>

		  <p>
		    <button mdl-button (click)="onSubmit()"  [disabled]="!form.valid" mdl-button-type="raised" mdl-ripple mdl-colored="primary">Crear Cuenta</button>
		  </p>

 </form>



