.patients {
  font-size: medium;
  margin: 0.5em 0em 1em 0em;
  list-style-type: none;
  margin-left: -1rem; 
  height: 8rem;
  width: 90%;
  overflow-y: scroll;
}
.patients li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: transparent;
  color: #808C93; /*light gray*/
  margin: 0em;
  padding: 0em 0;
  height: -1em;
  border-radius: 2px;
}
.patients li:hover {
  color: #000000; /* black */
  left: .1em;
}
.patients li.active {
    color: #f05a6d;
}
.patients li.selected {
  color: #f05a6d; /* primary color */

}
.patients li.selected:hover {
  color: #ed8593;
}
.patients .text {
  position: relative;
  top: -3px;
}
.patients .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}


@media (min-width: 576px){
  .modal-dialog {
    max-width: 70%;
    margin: 20px auto;
  }
  .modal-dialog_delete {
    max-width: 40%;
    margin: 20px auto;
  }
}

/* TABLE */
.table {
  font-size: large;
  margin: 0em 0em 0em 0.5em;
  list-style-type: none;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.table tbody tr {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: transparent;
  color: #808C93; /*light gray*/
  margin: 0em;
  padding: 0em 0;
  height: -1em;
  border-radius: 2px;
}
.table tbody tr:hover {
  background-color: #f3f3f3;
  color: #000000; /* black */
  left: .1em;
}
.table tbody tr.active {
    color: #f05a6d;
}
.table tbody tr.selected {
  color: #f05a6d; /* primary color */

}
.table tbody tr.selected:hover {
  color: #ed8593;
}

.header_table th{
    color: #98D5EC;
}

.drawer_add_patient {
    /*background-color: #e91e63;*/
    position: fixed;
    bottom: 0;
    margin-bottom: 24px;
    margin-right: 24px;
    position: fixed;
    z-index: 1000;
    right: 0;
}

.sytle_name_abbreviation {
    color: #f1596c;
    font-size: 1.35rem;
}

/*
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/