<p>
</p>
<p>
  Como paciente
</p>

<form [formGroup]="form" class="card-group">
  <div class="row">
    <div class="col-md-12">
      <p>

        <mdl-textfield label="Nombres" name="names"
          type="text" formControlName="names"
          floating-label></mdl-textfield>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        <mdl-textfield label="Apellidos" name="lastname"
          type="text" formControlName="lastName"
          floating-label></mdl-textfield>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        <mdl-textfield label="Email" name="email"
          type="text" formControlName="email"
          floating-label pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$"
          error-msg="Please provide a correct email!"></mdl-textfield>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        <mdl-textfield type="text" label="Número de DNI"
          name="id_Document_num" pattern="-?[0-9]*(\.[0-9]+)?"
          error-msg="Caracteres no numéricos!"
          formControlName="id_Document_num"
          floating-label></mdl-textfield>
      </p>
    </div>
  </div>

  <p>
    <button mdl-button (click)="onSubmit()" [disabled]="!form.valid"
      mdl-button-type="raised" mdl-ripple mdl-colored="primary">Crear Cuenta</button>
  </p>
</form>