<div class="demo-container" mdl-shadow="2">
   <mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
      <mdl-layout-header>
         <mdl-layout-header-row>
            <mdl-layout-title>{{title}}</mdl-layout-title>
            <mdl-layout-spacer></mdl-layout-spacer>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
              <button mdl-button mdl-colored="accent"
                routerLink="/homepage" routerLinkActive="active">Inicio</button>
              <button mdl-button mdl-colored="accent"
                routerLink="/login" routerLinkActive="active">Ingrese</button>
              <button mdl-button mdl-colored="accent"
                routerLink="/register" routerLinkActive="active">Registrese</button>
              <button mdl-button mdl-colored="accent"
                routerLink="/result-dashboard" routerLinkActive="active">Demo graphic</button>
               <!-- <a routerLink="/login" routerLinkActive="active">Ingresa</a>
               <a routerLink="/register" routerLinkActive="active">Registrate</a> 

               <a class="mdl-navigation__link" >Link</a>-->
            </nav>
         </mdl-layout-header-row>
      </mdl-layout-header>
      <mdl-layout-drawer>
         <mdl-layout-title>Title</mdl-layout-title>
         <nav class="mdl-navigation">
            <a class="mdl-navigation__link" routerLink="/homepage" routerLinkActive="active">Inicio</a>
            <a class="mdl-navigation__link" routerLink="/login" routerLinkActive="active">Ingrese</a>
            <a class="mdl-navigation__link" routerLink="/register" routerLinkActive="active">Registrese</a>
            <a class="mdl-navigation__link" routerLink="/result-dashboard" routerLinkActive="active">Graficas</a>
         </nav>
      </mdl-layout-drawer>

      <mdl-layout-content align="center">

        <router-outlet></router-outlet>
         
      </mdl-layout-content>
   </mdl-layout>
</div>