.containerr {
	background-color: #e1e4e8;
}

.box { 
	background: #e1e4e8;
    display: table-cell;
    position: relative;
    box-shadow: 0 0.5rem 1.25rem 0 rgba(0,0,0,0.28);
    width: 17rem;
    z-index: 200;
    padding: 20px;
}