<div class="margin-container">

  <div class="row">

    <div class="col-md-12">
      <!-- <app-patient-list  [token]="token" -->
      <app-patient-list [medical_center_id]="medical_center_id"
                        [medical_center_name]="medical_center_name"
                        [allFields]="true">
                        <!-- not necessary in this list component -->
                        <!-- (onSelect)="patientSelected($event)"> -->
      </app-patient-list>
    </div> 

   </div> 
</div>
