
.modal-header {
    padding: 8px 8px 8px 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    /*flex-direction: row-reverse;*/
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    padding: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.modal-footer {
    padding: 0px;
    text-align: right;
    border-top: 1px solid rgba(229, 229, 229, 0.01);
}

.modal-footer__actions {
    padding: 8px 8px 8px 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.close {
    margin-left: auto;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}

.mdl_icon {
    flex-shrink: 0;
    margin-top: 20px;
    opacity: .3;
    text-align: left;
    width: 40px;
    font-size: 30px;
    cursor: pointer;
}

.mdl_icon_person {
    flex-shrink: 0;
    margin-top: 5px;
    margin-left: -1.5rem;
    opacity: .2;
    text-align: left;
    font-size: 6rem;
    cursor: pointer;
}

.field-group{
    padding: 0px 0px 0px 9px;
    display: flex;
}

.btn_space {
    margin: 0px 5px 0px 0px;
}

.out {
    margin: -9999px;
}

input {
    -webkit-appearance: textfield;
    background-color: transparent;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-style: transparent;
    border-color: transparent;
    border-image: transparent;
}