/*

h2 {
  color: #ffffff;
}

.tems-and-conditions {
  font-size: 9px;
}*/
.form-login {
    max-width: 420px;
    padding: 25px;
    margin: 0 auto;
}
.margin-container {
    margin-top: 80px;
}
/*
.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
}

.card .card-header {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    background-color: #00BCD4;
}

.card .card-content {
    padding: 15px 20px;
}

.card [data-background-color] {
    color: #FFFFFF;
}

.card [data-background-color="purple"] {
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}*/


.styles__main {
    background: #1488c6;
}

.styles__container {
    
}

.styles__wrapper {
    width: 360px;
    margin: 0 auto;
    padding-top: 120px;
    height: 100%;
    position: relative;
}

.styles__banner {
    text-align: center;
    margin-bottom: 48px;
}

.styles__form {
    margin-bottom: 48px;
}

.loginForm__main {
    content: " ";
    display: table;
}

.styles__more {
    width: 100%;
}





.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}



.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.login_container_style {
    margin-top: 6rem;
}

.login_title_style{
    text-align: center;
    color: #f15b6d;
    margin-bottom: 2rem;
}
.login_submit_style {
    text-align:right;
}

.login_process_style {
    text-align:center;
    color: #f15b6d;
}

.radio_button_roles_style {
    color: #bdbdc7;
    margin: 10px;
}

.login_type_rol_style {
    color: #e91f63;
    
}


