<div class="margin-container">

<div class="col-md-8">

  
  <div class="card">
    <div class="card-header" data-background-color="purple">
      <h4 class="title">Edit Profile</h4>
      <p class="category">Complete your profile</p>
    </div>
    <div class="card-content">
      <form>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group label-floating is-empty">
              <label class="control-label">Company (disabled)</label>
              <input type="text" class="form-control" disabled="">
              <span class="material-input"></span></div>
          </div>
          <div class="col-md-3">
            <div class="form-group label-floating is-empty">
              <label class="control-label">Username</label>
              <input type="text" class="form-control">
              <span class="material-input"></span></div>
          </div>
          <div class="col-md-4">
            <div class="form-group label-floating is-empty">
              <label class="control-label">Email address</label>
              <input type="email" class="form-control">
              <span class="material-input"></span></div>
          </div>
          <div class="col-md-4">
            <div class="card-group">
      
            <p>
              <md-input-container>
                <input md-input placeholder="Usuario" name="username"
                type="text" >
              </md-input-container>
            </p>
            <p>
              <md-input-container>
                <input md-input placeholder="Contraseña" name="password"
                type="password" >
              </md-input-container>
            </p>
    </div>

          </div>
        
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group label-floating is-empty">
              <label class="control-label">Fist Name</label>
              <input type="text" class="form-control">
              <span class="material-input"></span></div>
          </div>
          <div class="col-md-6">
            <div class="form-group label-floating is-empty">
              <label class="control-label">Last Name</label>
              <input type="text" class="form-control">
              <span class="material-input"></span></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group label-floating is-empty">
              <label class="control-label">Adress</label>
              <input type="text" class="form-control">
              <span class="material-input"></span></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group label-floating is-empty">
              <label class="control-label">City</label>
              <input type="text" class="form-control">
              <span class="material-input"></span></div>
          </div>
          <div class="col-md-4">
            <div class="form-group label-floating is-empty">
              <label class="control-label">Country</label>
              <input type="text" class="form-control">
              <span class="material-input"></span></div>
          </div>
          <div class="col-md-4">
            <div class="form-group label-floating is-empty">
              <label class="control-label">Postal Code</label>
              <input type="text" class="form-control">
              <span class="material-input"></span></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>About Me</label>
              <div class="form-group label-floating is-empty">
                <label class="control-label"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                <textarea class="form-control" rows="5"></textarea>
                <span class="material-input"></span></div>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>
</div>





<!-- <mdl-tabs mdl-ripple mdl-tab-active-index="0" (mdl-tab-active-changed)="tabChanged($event)">
    <mdl-tab-panel>
      <mdl-tab-panel-title>
        <mdl-icon class="mdl-color-text--primary">person</mdl-icon><span>Starks</span>
      </mdl-tab-panel-title>
      <mdl-tab-panel-content>
      <ul>
        <li>Eddard</li>
        <li>Catelyn</li>
        <li>Robb</li>
        <li>Sansa</li>
        <li>Brandon</li>
        <li>Arya</li>
        <li>Rickon</li>
      </ul>
      </mdl-tab-panel-content>
    </mdl-tab-panel>
    <mdl-tab-panel mdl-tab-panel-title="Lannisters">
       <ul>
          <li>Tywin</li>
          <li>Cersei</li>
          <li>Jamie</li>
          <li>Tyrion</li>
       </ul>
    </mdl-tab-panel>
    <mdl-tab-panel mdl-tab-panel-title="Targaryens" [disabled]="disableTargaryens">
       <ul>
          <li>Viserys</li>
          <li>Daenerys</li>
       </ul>
    </mdl-tab-panel>
    <mdl-tab-panel mdl-tab-panel-title="Baratheon" [disabled]="disableBaratheon">
      <mdl-tab-panel-title>
        <mdl-icon class="mdl-color-text--primary">person</mdl-icon><span>Baratheon</span>
      </mdl-tab-panel-title>
      <mdl-tab-panel-content>
        <ul>
          <li>Robert</li>
          <li>Renly</li>
          <li>Stanis</li>
          <li>Joffrey</li>
          <li>Myrcella</li>
          <li>Tommen</li>
        </ul>
        </mdl-tab-panel-content>
    </mdl-tab-panel>
 </mdl-tabs>

 <button #editUserButton mdl-button mdl-button-type="raised" mdl-colored="primary"
        mdl-ripple (click)="editUserDialog.show()">Edit User Dialog</button>

<mdl-dialog #editUserDialog
            [mdl-dialog-config]="{
              clickOutsideToClose: true,
              styles:{'width': '300px'},
              isModal:true,
              openFrom: editUserButton,
              enterTransitionDuration: 400,
              leaveTransitionDuration: 400}"
            (show)="onDialogShow(dialogRef)"
            (hide)="onDialogHide()">
  <h3 class="mdl-dialog__title">Edit User</h3>
  <div class="mdl-dialog__content">
    <mdl-textfield type="text" label="Username" [(ngModel)]="username" floating-label autofocus></mdl-textfield>
  </div>
  <div class="mdl-dialog__actions">
    <button mdl-button (click)="saveUser()" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save</button>
    <button mdl-button (click)="editUserDialog.close()" mdl-ripple>Cancel</button>
  </div>
</mdl-dialog> -->