<div class="margin-container">
<div class="content">
  <div class="container-fluid">
    <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Email Statistics</h4>
                                <p class="category">Last Campaign Performance</p>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Users Behavior</h4>
                                <p class="category">24 Hours performance</p>
                            </div>
                            
                        </div>
                    </div>
    </div>

    <div class="row">
        <template ngbModalContainer></template>
        <button class="btn btn-lg btn-outline-primary" (click)="showAddTherapistComponent()">Add Therapist</button>
    </div>

    <div class="row">
        <button type="button" class="btn btn-primary btn-sm" (click)="onShowForm()">show</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="onHideForm()">+</button>
        <div *ngIf="showAddForm">

            <add-therapist>   </add-therapist>
        </div>
    </div>
    
  </div>
</div>

</div>