

.activities .event {
    margin-top: 1rem;
    width: 100%;
}
.event {
  margin: 10px -10px 10px 10px;
    background: #fff;
    border: 2px solid #efcece;
    border-radius: 0.25rem;
    padding: 10px 10px 10px 10px;
    position: relative;
}

.event-heading {
    margin: 0 0 2px;
    font-weight: 600;
}

h5, .h5 {
    font-size: 1.25rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.fs-mini {
    font-size: 13px;
}

.division_line {
    border-bottom: 2px solid #3ab4df;
    border-top: 0;
    margin: 0 0 25px;
    padding: 0 0 25px;
}

#hip_img {
  background: url("../../../assets/images/pic01.svg") no-repeat;;
  background-size:contain;
}

.chart_decoration {
  font-size: 0.85rem;
  border-bottom: 2px solid #efcece;
    border-top: 0;
    margin: 10px 0 25px;
    padding: -10px 0 25px;
}
.video_section {
  margin-top: 10px;
}


